/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

body {
  background-image: url("http://wallpaper.zone/img/5628990.jpg");
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: table;
}

li {
  display: inline;
}

#div_container {
  background-color: white;
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0;
  right: 0;
}
