/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

body {
  background-image: url("http://cdn.playbuzz.com/cdn/b7a309b7-6ce3-415c-8122-8670a9e37a60/dd015d8e-0500-4c57-b58d-acd993fd6f29.jpg");
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: table;
}

li {
  display: inline;
}

.div_container {
  background-color: white;
  position: absolute;
  width: 400px;
  height: 450px;
}

.close_a {
  float: right;
}

.removed {
  visibility: hidden;
}

.msgs_div {
  overflow-y: scroll;
  height: 300px;
}

#text_msg {
  resize: none;
}

.messages li {
  display: block;
}

.send_button {
  float: left;
}

.username_button {
  float: right;
}

.select_tiles button {
  display: block;
  margin: 10px;
}
